@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  --Serif: 'Fraunces', serif;
  --Sans-serif: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: red 1px solid;  */
}

html {
  font-family: var(--Sans-serif);
  font-size: 14px;
  background-color: var(--Cream);
  color: var(--Dark-grayish-blue);
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content;  
}

.card {
  background-color: var(--White);
  width: 90vw;
  height: 600px;
  margin: auto;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 40% 60%;
}

picture {
  height: 100%;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background-image: url(images/image-product-mobile.jpg);
  background-size: cover;
}

picture img {
  display: none;
}

section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  letter-spacing: 0.3rem;
  font-weight: 500;
  font-size: inherit;
}

h1 {
  color: var(--Very-dark-blue);
  font-family: var(--Serif);
  font-size: 2.3rem;
}

p {
  line-height: 1.6rem;
}

.prices {
  display: flex;
  gap: 1.5rem;
  margin-top: .5rem;
}

.new-price {
  color: var(--Dark-cyan);
  font-family: var(--Serif);
  font-size: 2.3rem;
}

.old-price {
  text-decoration: line-through;
}


button {
  position: relative;
  display: block;
  width: 100%;
  background-color: var(--Dark-cyan);
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  color: var(--White);
  font-family: inherit;
  font-weight: 700;
}

section img {
  height: 20px;
  width: auto;
  border-radius: 0;
  position: absolute;
  left: 25%;
  top: .8rem;
}

button:hover {
  background-color: hsl(158, 39%, 25%);
  transition: all 0.3s;
}

@media screen and (min-width: 1000px) {
  .card {
    width: 38vw;
    height: 60vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
  picture {
    background-image: url(images/image-product-desktop.jpg);
    border-radius: 1rem 0 0 1rem;
  }
  section img {
    left: 20%;
  }
}
